*{
  box-sizing: border-box;
}
body{
    margin: 0;
    
}
main{
  width: 100%;
}

header {
  border-bottom: 1px solid black;
  background-color: rgb(58, 121, 58);
  color: white;            
  padding: 40px;       
  text-align: center;      
  font-size: 24px;    
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;    
  width: 100%;     
      
}

nav{
  
 background-color: green;
 width: 100%;
 height: 50px;
 border-bottom: 1px solid black;
  
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  
}

nav li{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 82px;
  
  
}

nav li a{
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  font-weight: bold;

}

nav li:hover{
  background-color: rgb(94, 178, 25);
  

}

.text{
  border: 3px solid green;
  text-align: justify;
  background-color: rgb(195, 225, 151);
  padding: 7px;
  color: black;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
}
.text2{
  border: 3px solid green;
  text-align: center;
  background-color: rgb(195, 225, 151);
  padding: 7px;
  color: black;
  border-radius: 20px;
  margin: 10px;
  font-size: 22px;
}


.gg{
    width: 100%;
    color: green;
    font-size: 30px;
    padding: 5px;
}



img{
  display: block;
  margin: auto;

}
